:root {
	font-size: 62.5%;
	--dark-blue: #18446d;
}

body {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--dark-blue);
}

h1 {
	width: 90vw;
	text-align: center;
	
	margin-top: 4rem;
	display: flex;
  	flex-direction: column;
	font-size: 4rem;
}

h1::after {  
	content: "";
	width: 99%;
	height: 2px;
	background-color: white;
}

main {
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#plus-button {
	
	width: 30px;
	text-align: center;
	font-size: 2.5rem;
	padding: 1rem ;
	border-radius: 50%;
	border: 1px solid white;
	cursor: pointer;
	margin-bottom: 20px;
}

#plus-button:hover {
	background-color: white;
	color: var(--dark-blue);
}

section {
	width: 90%;
	display: flex;
	justify-content: space-around;
	justify-items: center;
}

.project {
	width: 250px;
	height: 250px;
	overflow-y: scroll;
	font-size: 2rem;
	padding: 5px;
	border: 1px solid white;

}
